[data-md-color-primary=blue-grey] .md-header {
    background-color: #373737;
}

.md-search__input {
    border-radius: .2rem .2rem 0 0;
    background-color: #606060;
    color: rgba(0,0,0,.87);
    text-overflow: none;
    border-radius: 4px;
}

[data-md-color-primary=blue-grey] .md-nav__link--active, [data-md-color-primary=blue-grey] .md-nav__link:active {
    color: #2FB7DE;
}

[data-md-color-primary=blue-grey] .md-nav--secondary {
    border-left: .4rem solid #00d3e3;
}
