[data-md-color-primary="blue-grey"] .md-header {
  background-color: #373737;
}

.md-search__input {
  border-radius: 0.2rem 0.2rem 0 0;
  background-color: #606060;
  color: rgba(0, 0, 0, 0.87);
  text-overflow: none;
  border-radius: 4px;
}

[data-md-color-primary="blue-grey"] .md-nav__link--active,
[data-md-color-primary="blue-grey"] .md-nav__link:active {
  color: #2fb7de;
}

[data-md-color-primary="blue-grey"] .md-nav--secondary {
  border-left: 0.4rem solid #00d3e3;
}

[title="January"] {
  font-weight: bold;
}

[title="January"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="February"] {
  font-weight: bold;
}

[title="February"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="March"] {
  font-weight: bold;
}

[title="March"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="April"] {
  font-weight: bold;
}

[title="April"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="May"] {
  font-weight: bold;
}

[title="May"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="June"] {
  font-weight: bold;
}

[title="June"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="July"] {
  font-weight: bold;
}

[title="July"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="August"] {
  font-weight: bold;
}

[title="August"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="September"] {
  font-weight: bold;
}

[title="September"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="October"] {
  font-weight: bold;
}

[title="October"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="November"] {
  font-weight: bold;
}

[title="November"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

[title="December"] {
  font-weight: bold;
}

[title="December"] + nav > ul > li:nth-child(even) {
  color: #8a8888;
}

.md-typeset blockquote {
  border-left: 0.4rem solid #00cbe6;
}
